﻿body{
	background-color:#a14341;
    padding:0;
    margin:0;
}
.footer {
        position:fixed;
        bottom:0px;
        right:0px;
}


.homePage div[role=img] {
    background-image: url("/images/menulogo2.png");
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    height: 85px;
}

#OnePlayer {
margin-left:20px;
}
#TwoPlayer {
margin-left:20px;
}
.homePage section[role=menu] {
    margin-top: 10px;
}

.homePage button
{
    font-size:22px;
    padding:4px 16px;
    text-align:center;
    text-decoration:none;
    width:auto;
    height:auto;
    border:solid 0px;
    background-color:#a14341;
    color:#fff;
    text-transform:uppercase;
}

    .homePage button:hover {
        color:#e2bb3a;
    }
 
    .homePage button:disabled
    {
        cursor:default;
    }

    .homePage .menu-buttons {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

    .homePage button[role=menuitem] {
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/images/menuentry.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 210px; /* Width can be no more than 320px in order to fit in snapped view */
    vertical-align: middle;
}

